func Test{{Name}}Controller_Index(t *testing.T) {
	tests := []struct {
		name           string
		path           string
		want           []{{Name}}
		wantStatusCode int
	}{
		{
			name:           "Test indexing without query parameters",
			path:           "{{path}}",
			want:           []{{Name}}{},
			wantStatusCode: 200,
		},
		{
			name:           "Test indexing with parameters",
			path:           "{{path}}?page=2",
			want:           []{{Name}}{},
			wantStatusCode: 200,
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			router := GetRouter()

			w := httptest.NewRecorder()
			req, _ := http.NewRequest("GET", tt.path, nil)
			router.ServeHTTP(w, req)

			assert.Equal(t, tt.wantStatusCode, w.Code)
			assert.Equal(t, tt.want, w.Body.String())
		})
	}
}
