func Test{{Resource}}Controller_{{Name}}(t *testing.T) {
  tests := []struct {
    name           string
    path           string
    want           []models.{{SingularResource}}
    wantStatusCode int
  }{
    {
      name:           "Test getting existing {{Resource}}",
      path:           "{{path}}",
      want:           models.{{SingularResource}}{},
      wantStatusCode: 200,
    },
    {
      name:           "Test getting non-existent {{Resource}}",
      path:           "{{path}}",
      want:           models.{{SingularResource}}{},
      wantStatusCode: 200,
    },
  }
  for _, tt := range tests {
    t.Run(tt.name, func(t *testing.T) {
      router := GetRouter()

      w := httptest.NewRecorder()
      req, _ := http.NewRequest("GET", tt.path, nil)
      router.ServeHTTP(w, req)

      assert.Equal(t, tt.wantStatusCode, w.Code)
      assert.Equal(t, tt.want, w.Body.String())
    })
  }
}
