// Create saves a new {{Resource}} record into the database
func (ctrl *{{Resource}}Controller) {{Name}}(c *gin.Context) {
	m := models.{{SingularResource}}{}
	if err := c.ShouldBindJSON(m); err != nil {
		ctrl.log.Error("invalid {{Resource}} creation request",
			zap.Error(err),
		)
		c.AbortWithError(http.StatusBadRequest, err)
		return
	}
	{{# ORM }}
	err := m.Insert(ctrl.db, boil.Infer())
	if err != nil {
		ctrl.log.Error("error creating {{Name}}",
			zap.Error(err))
		c.AbortWithStatus(http.StatusInternalServerError)
	}
	{{/ ORM }}
	c.JSON(http.StatusCreated, gin.H{})
}
