// Delete deletes a new {{Resource}} record into the database
func (ctrl *{{Resource}}Controller) {{Name}}(c *gin.Context) {
	m := models.{{SingularResource}}{}
	if err := c.ShouldBindUri(&m); err != nil {
		ctrl.log.Error("invalid {{Resource}} deletion request",
			zap.Error(err),
		)
		c.AbortWithError(http.StatusBadRequest, err)
		return
	}
	{{# ORM }}
	_, err := m.Delete(ctrl.db)
	if err != nil {
		ctrl.log.Error("error deleting {{Resource}}",
			zap.Error(err))
		c.AbortWithStatus(http.StatusInternalServerError)
	}
	{{/ ORM }}
	c.JSON(http.StatusNoContent, gin.H{})
}
