// Index returns a list of {{Resource}} records
func (ctrl *{{Resource}}Controller) {{Name}}(c *gin.Context) {
	var results []models.{{SingularResource}}
	{{# ORM }}
	q := c.Request.URL.RawQuery
	qms := GetQueryModFromQuery(q)
	results, err := models.{{PluralName}}(qms...).All(ctrl.db)
	if err != nil {
		c.AbortWithError(http.StatusBadRequest, err)
	}
	{{/ ORM }}
	c.JSON(http.StatusOK, results)
}
