// Show retrieves a new {{Resource}} record from the database
func (ctrl *{{Resource}}Controller) {{Name}}(c *gin.Context) {
	var result models.{{SingularResource}}
	{{# ORM }}
	id := c.GetInt("id")
	result, err := models.Find{{Resource}}(id)
	if err != nil {
		ctrl.log.Error("error retrieving {{Resource}}",
			zap.Error(err))
		c.AbortWithStatus(http.StatusInternalServerError)
	}
	{{/ ORM }}
	c.JSON(http.StatusOK, result)
}
