// Update updates a new {{Name}} record in the database
func (ctrl *{{Name}}Controller) Update(c *gin.Context) {
	m := models.{{Name}}{}
	if err := c.ShouldBindUri(&m); err != nil {
		ctrl.log.Error("invalid {{Name}} update request",
			zap.Error(err),
		)
		c.AbortWithError(http.StatusBadRequest, err)
		return
	}
	if err := c.ShouldBindJSON(&m); err != nil {
		ctrl.log.Error("invalid {{Name}} update request",
			zap.Error(err),
		)
		c.AbortWithError(http.StatusBadRequest, err)
		return
	}
	{{# ORM }}
	err := m.Update(ctrl.db, boil.Infer())
	if err != nil {
		ctrl.log.Error("error updating {{Name}}",
			zap.Error(err))
		c.AbortWithStatus(http.StatusInternalServerError)
	}
	{{/ ORM }}
	c.JSON(http.StatusOK, gin.H{})
}
