// Update updates a new {{Resource}} record in the database
func (ctrl *{{Resource}}Controller) {{Name}}(c *gin.Context) {
	m := models.{{Resource}}{}
	if err := c.ShouldBindUri(&m); err != nil {
		ctrl.log.Error("invalid {{Resource}} update request",
			zap.Error(err),
		)
		c.AbortWithError(http.StatusBadRequest, err)
		return
	}
	if err := c.ShouldBindJSON(&m); err != nil {
		ctrl.log.Error("invalid {{Resource}} update request",
			zap.Error(err),
		)
		c.AbortWithError(http.StatusBadRequest, err)
		return
	}
	{{# ORM }}
	err := m.Update(ctrl.db, boil.Infer())
	if err != nil {
		ctrl.log.Error("error updating {{Resource}}",
			zap.Error(err))
		c.AbortWithStatus(http.StatusInternalServerError)
	}
	{{/ ORM }}
	c.JSON(http.StatusOK, gin.H{})
}
