package controllers

import (
	"net/http"

	"github.com/gin-gonic/gin"
	"github.com/jmoiron/sqlx"
	"github.com/volatiletech/sqlboiler/boil"
	"go.uber.org/zap"
)

// {{Name}}Controller exposes the methods for interacting with the
// RESTful {{Name}} resource
type {{Name}}Controller struct {
	db  *sqlx.DB
	log *zap.Logger
}

{{#each Actions}}
{{{ whichAction Handler }}}
{{/each}}

{{#each ErrorResponses}}
func (ctrl *{{../Name}}Controller) is{{Name}}(c *gin.Context) bool {
	// TODO: Add your controller-specific logic for determining if the request 
	// should return a {{Name}} response with status code {{Code}} as
	// found in your spec: {{Ref}}
	return false
}
{{/each}}
